@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);

.t-body {
  margin: 0;
}

.t-text {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.t-text_xs {
  font-size: 15px;
  line-height: 1.55;
}

.t-text_md {
  font-size: 20px;
  line-height: 1.55;
}

.t-text-impact {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.t-text-impact_md {
  font-size: 38px;
  line-height: 1.35;
}

.t-title {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000;
}

.t-title_xxs {
  font-size: 36px;
  line-height: 1.23;
}

.t-descr {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  color: #000;
}

.t-descr_xs {
  font-size: 16px;
  line-height: 1.55;
}

@media screen and (max-width:1200px) {
  .t-text_xs {
    font-size: 14px;
  }

  .t-text_md {
    font-size: 18px;
  }

  .t-text-impact_md {
    font-size: 30px;
  }

  .t-descr_xs {
    font-size: 14px;
  }

  .t-title_xxs {
    font-size: 32px;
  }
}

@media screen and (max-width:640px) {
  .t-text_xs {
    font-size: 12px;
    line-height: 1.45;
  }

  .t-text_md {
    font-size: 16px;
    line-height: 1.45;
  }

  .t-text-impact_md {
    font-size: 26px;
  }

  .t-descr_xs {
    font-size: 12px;
    line-height: 1.45;
  }

  .t-title_xxs {
    font-size: 28px;
  }
}

.t-records {
  -webkit-font_smoothing: antialiased;
  background-color: none;
}

@supports (-ms-ime-align:auto) {
  .t-cover__carrier {
    transform: unset;
  }
}

@-webkit-keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.t-btn {
  display: inline-block;
  font-family: 'Roboto',Arial,sans-serif;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 700;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.t-btn td {
  vertical-align: middle;
}

@media screen and (max-width:640px) {
  .t-btn {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.t-btn_xs {
  height: 35px;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.t-submit {
  font-family: 'Roboto',Arial,sans-serif;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-appearance: none;
  font-weight: 700;
  white-space: nowrap;
  background-image: none;
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

@media screen and (max-width:640px) {
  .t-submit {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@keyframes t-submit-spinner {
  to {
    transform: rotate(360deg);
  }
}

.t-hidden {
  display: none;
}

.t-align_center {
  text-align: center;
}

.r_anim {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.r_hidden {
  opacity: 0;
}

.r_showed {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

.t-rec_pt_0 {
  padding-top: 0;
}

.t-rec_pt_15 {
  padding-top: 15px;
}

.t-rec_pt_30 {
  padding-top: 30px;
}

.t-rec_pt_45 {
  padding-top: 45px;
}

.t-rec_pt_60 {
  padding-top: 60px;
}

.t-rec_pt_75 {
  padding-top: 75px;
}

.t-rec_pt_90 {
  padding-top: 90px;
}

.t-rec_pt_105 {
  padding-top: 105px;
}

.t-rec_pt_120 {
  padding-top: 120px;
}

.t-rec_pt_135 {
  padding-top: 135px;
}

.t-rec_pt_150 {
  padding-top: 150px;
}

.t-rec_pt_165 {
  padding-top: 165px;
}

.t-rec_pt_180 {
  padding-top: 180px;
}

.t-rec_pt_195 {
  padding-top: 195px;
}

.t-rec_pt_210 {
  padding-top: 210px;
}

.t-rec_pb_0 {
  padding-bottom: 0;
}

.t-rec_pb_15 {
  padding-bottom: 15px;
}

.t-rec_pb_30 {
  padding-bottom: 30px;
}

.t-rec_pb_45 {
  padding-bottom: 45px;
}

.t-rec_pb_60 {
  padding-bottom: 60px;
}

.t-rec_pb_75 {
  padding-bottom: 75px;
}

.t-rec_pb_90 {
  padding-bottom: 90px;
}

.t-rec_pb_105 {
  padding-bottom: 105px;
}

.t-rec_pb_120 {
  padding-bottom: 120px;
}

.t-rec_pb_135 {
  padding-bottom: 135px;
}

.t-rec_pb_150 {
  padding-bottom: 150px;
}

.t-rec_pb_165 {
  padding-bottom: 165px;
}

.t-rec_pb_180 {
  padding-bottom: 180px;
}

.t-rec_pb_195 {
  padding-bottom: 195px;
}

.t-rec_pb_210 {
  padding-bottom: 210px;
}

@media screen and (max-width:480px) {
  .t-rec_pt_0 {
    padding-top: 0;
  }

  .t-rec_pt_15 {
    padding-top: 15px;
  }

  .t-rec_pt_30 {
    padding-top: 30px;
  }

  .t-rec_pt_45 {
    padding-top: 45px;
  }

  .t-rec_pt_60 {
    padding-top: 60px;
  }

  .t-rec_pt_75 {
    padding-top: 75px;
  }

  .t-rec_pt_90 {
    padding-top: 90px;
  }

  .t-rec_pt_105 {
    padding-top: 90px;
  }

  .t-rec_pt_120 {
    padding-top: 90px!important;
  }

  .t-rec_pt_135 {
    padding-top: 90px!important;
  }

  .t-rec_pt_150 {
    padding-top: 90px!important;
  }

  .t-rec_pt_165 {
    padding-top: 90px!important;
  }

  .t-rec_pt_180 {
    padding-top: 120px!important;
  }

  .t-rec_pt_195 {
    padding-top: 120px!important;
  }

  .t-rec_pt_210 {
    padding-top: 120px!important;
  }

  .t-rec_pb_0 {
    padding-bottom: 0;
  }

  .t-rec_pb_15 {
    padding-bottom: 15px;
  }

  .t-rec_pb_30 {
    padding-bottom: 30px;
  }

  .t-rec_pb_45 {
    padding-bottom: 45px;
  }

  .t-rec_pb_60 {
    padding-bottom: 60px;
  }

  .t-rec_pb_75 {
    padding-bottom: 75px;
  }

  .t-rec_pb_90 {
    padding-bottom: 90px;
  }

  .t-rec_pb_105 {
    padding-bottom: 90px;
  }

  .t-rec_pb_120 {
    padding-bottom: 90px!important;
  }

  .t-rec_pb_135 {
    padding-bottom: 90px!important;
  }

  .t-rec_pb_150 {
    padding-bottom: 90px!important;
  }

  .t-rec_pb_165 {
    padding-bottom: 90px!important;
  }

  .t-rec_pb_180 {
    padding-bottom: 120px!important;
  }

  .t-rec_pb_195 {
    padding-bottom: 120px!important;
  }

  .t-rec_pb_210 {
    padding-bottom: 120px!important;
  }
}

.t107__width {
  vertical-align: middle;
}

.t107__widthauto {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.t107__title {
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 28px;
}

.t017__title {
  padding-top: 2px;
  padding-bottom: 0;
}

.t017__descr {
  padding-top: 21px;
}

.t021__line {
  width: 100%;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: #000;
}

.t021__text-impact {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 54px;
}

.t046__text {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 4px;
}

.t142A {
  overflow: hidden;
}

.t142A__wrapone {
  position: relative;
  right: 50%;
  float: right;
}

.t142A__wraptwo {
  position: relative;
  z-index: 1;
  right: -50%;
}

.t142A__wraptwo td {
  vertical-align: middle;
}

.t142A__marginleft20px {
  margin-left: 20px;
}

@media screen and (max-width:640px) {
  .t142A {
    padding: 0 20px;
  }

  .t142A .t-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .t142A__marginleft20px {
    margin-left: 0;
  }
}
